@font-face {
    font-family: Rotonda_Medium; /* Имя шрифта */
    src: url(/fonts/Rotonda_Medium.otf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: Flame_Bold; /* Имя шрифта */
    src: url(/fonts/FLAME-BOLD.OTF); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: Flame_Regular; /* Имя шрифта */
    src: url(/fonts/FLAME-REGULAR.OTF); /* Путь к файлу со шрифтом */
   }

body{
    background-color:  #F5EBDC;
}
hr{
    color: #FFAA00; 
    background-color: #FFAA00; 
    height: px;   
}

/* horisontal line */
.bk_path{
    margin-top: 25px;
}
.bk_path a{
    font-family: Flame_Regular;
    font-size: 10px;
    color:#502314;
}
/*---------- --------------------- */
.bk_main_block_header{
    margin-top: 20px; 
    font-family: Flame_Regular;
    font-size: 20px;
    color:#502314;
    text-transform: uppercase;
}
.bk_secondary_block_header{
    margin-top:20px;
    margin-bottom:20px;
    color:#502314;
    font-family: Flame_Regular;
    text-transform: uppercase;
    font-size: 14px;
}
a.nav-link.bk_secondary_block_header.active
{
    color:#198737 !important;  
}
.bk_tertiary_block_header{
    margin-top:20px;
    margin-bottom:20px;
    font-family: Flame_Regular;
    font-size: 14px;
    color:#198737;
    text-transform: uppercase;   
}
.bk_lables{
    color:#502314;
    font-family: Flame_Regular;
    text-transform: uppercase;
    font-size: 10px;
    padding-top: 1rem;
   
}
.bk_form_values{
    color:#502314;
    font-family: Rotonda_Medium;
    font-size: 9px;
    border-color: white;
    border-radius:0%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
.bk_white_border_box{
    border: white 3px solid;
}
.bk_white_table_borders{
    border: white 3px solid;
    padding: 5px;
    margin: 5px;
}
.bk_block_centered{
    text-align: center;
}
.bk_block_aligned_left{
    text-align: left;
}
.bk_control a{
    color:white;
    font-family: Rotonda_Medium; 
    font-size: 12px;  
}
/* colored menu */
.bk_brownBox{
   background-color: #502314;
   padding: 10px;
}
.bk_yellowBox{
   background-color: #FFAA00;
   padding: 10px;
}
.bk_redBox{
   background-color: #D62300;
   padding: 10px;
}
.bk_orangeBox{
   background-color: #FF8732;
   padding: 10px;
   
}
.bk_greenBox{
   background-color: #198737;
   text-align: center;
   padding: 10px;
}
.bk_whiteBox{
    background-color: white;
    padding: 10px;
}
.bk_greyBox{
    background-color: #e6e3de;
    padding: 10px;
}

.bk_message{
    line-height: 12px;
}
.bk_message a{
    color:#502314;
    font-family: Rotonda_Medium; 
    font-size: 9px;  
}
.bk_transparentButton{
    background-color:transparent;
    border-color: #502314;
    border-width: 2px;
    font-family: Rotonda_Medium;
    font-size: 9px;
    text-transform: uppercase;
    color:#502314 ;
    padding-top: 3px;
    padding-left: 8px;
    padding-bottom: 3px;
    padding-right: 8px;
}
.bk_greenButton{
    background-color: #198737 !important;
    border-color: #198737;
    font-family: Rotonda_Medium;
    font-size: 9px;
    text-transform: uppercase;
    padding-top: 3px;
    padding-left: 8px;
    padding-bottom: 3px;
    padding-right: 8px;
}

